button:focus {
    outline: none;
}

.header {
    width: 100%;
    max-width: 100%;
    color: #ffffff !important;
    background: #1f1f1f !important;
}

.header-people_add {
    flex: 1 1 auto;
    text-align: right;
}

.header-people_back {
    flex: 1 1 auto;
    text-align: left;
}

.footer {
    bottom: 0;
    width: 100%;
    max-width: 100%;
    position: fixed;
    color: #ffffff !important;
    background: #1f1f1f !important;
}

.login-form {
    width: calc(100vw);
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    max-width: 100%;
    max-height: 100%;
    background-color: #44beed;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('http://10.0.1.5:3000/login.png');
}

.registry-form {
    width: calc(100vw);
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    max-width: 100%;
    max-height: 100%;
    background-color: #44beed;
}

.login-form_group {
    margin: 0 auto !important;
    padding: calc(100vw - 84vw) !important;
    padding-top: calc(100vh - 40vh) !important;
}

.registry-form_group {
    margin: 0 auto !important;
    padding: calc(100vw - 84vw) !important;
}

.login-form_show, .registry-form_show {
    display: block;
    padding-top: 10px;
    text-align: center;
}

.login-form_hidden, .registry-form_hidden {
    display: none;
}

.login-form > div.alert, .registry-form > div.alert {
    margin-right: 25px;
    margin-left: 25px;
}

.people-add_div {
    display: flex;
    margin-top: 15px;
}

.people-add_div > form {
    margin: 0 auto !important;
}

.people-add_div > form > div {
    width: calc(80vw);
    margin: 0 auto !important;
}