button:focus {
    outline: none;
}

.header > header {
    width: 100%;
    z-index: 9999;
    max-width: 100%;
    position: fixed;
    box-shadow: unset;
    color: #f1f1f1 !important;
    background: #484848 !important;
}

.header-people_add {
    flex: 1 1 auto;
    text-align: right;
}

.header-people_back {
    flex: 1 1 auto;
    text-align: left;
}

.footer {
    bottom: 0;
    width: 100%;
    z-index: 9999;
    max-width: 100%;
    position: fixed;
    color: #f1f1f1 !important;
    background: #484848 !important;
}

.footer > div > div > span {
    height: 0px;
}

.footer-chat_room {
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: 9999;
    max-width: 100%;
    position: fixed;
}

.footer-chat_room > form > div {
    padding-top: 0px;
    margin-left: 0 !important;
    background-color: unset !important;
}

.footer-chat_room > form > div > div {
    color: #ffffff;
    margin: unset !important;
    padding: 8px 7px 9px !important;
}

.footer-chat_fieldset {
    border: 0px;
}

.footer-chat_fieldset > fieldset {
    border: 0px;
}

.footer-chat_input_open {
    height: unset !important;
}

.footer-chat_room_emoji {
    height: 180px;
    margin: 0 auto;
}

.footer-chat_emoji_open {
    display: block;
    overflow: auto;
    margin-top: 3px;
    background: #545454;
}

.footer-chat_emoji_close {
    display: none;
}

.footer-chat_room_emoji > div {
    float: left;
}

.footer-chat_room_emoji > div > img {
    width: 80px;
}

.footer_chat_room_emoji_pv_open {
    opacity: 0.7;
    height: 100px;
    display: block;
    text-align: center;
    background: #545454;
}

.footer_chat_room_emoji_pv_open > img {
    width: 100px;
    opacity: unset;
}

.footer_chat_room_emoji_pv_close {
    display: none;
}

.login-form {
    width: calc(100vw);
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    max-width: 100%;
    max-height: 100%;
    background-color: #44beed;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://cocoatalk-41442.web.app/login.png');
}

.registry-form {
    width: calc(100vw);
    width: -moz-calc(100vw);
    width: -webkit-calc(100vw);
    height: calc(100vh);
    height: -moz-calc(100vh);
    height: -webkit-calc(100vh);
    max-width: 100%;
    max-height: 100%;
    background-color: #44beed;
}

.login-form_group {
    margin: 0 auto !important;
    padding: calc(100vw - 84vw) !important;
    padding-top: calc(100vh - 40vh) !important;
}

.registry-form_group {
    margin: 0 auto !important;
    padding: calc(100vw - 84vw) !important;
}

.login-form_show, .registry-form_show {
    display: block;
    padding-top: 10px;
    text-align: center;
}

.login-form_hidden, .registry-form_hidden {
    display: none;
}

.login-form > div.alert, .registry-form > div.alert {
    margin-right: 25px;
    margin-left: 25px;
}

.list-top {
    padding-top: 60px !important;
}

.list-bottom {
    padding-bottom: 50px !important;
}

.people-add_div {
    display: flex;
    /* margin-top: 15px; */
}

.people-add_div > form {
    margin: 0 auto !important;
}

.people-add_div > form > div {
    width: calc(80vw);
    margin: 0 auto !important;
}

.chat-list_data {
    font-size: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    width: calc(100vw - 40vw);
}

.chat-list_date {
    font-size: 13px;
}

.chat-room_bubble_avatar {
    margin-bottom: auto;
    min-width: 35px !important;
}

.chat-room_bubble_avatar > div {
    width: 30px !important;
    height: 30px !important;
}

.chat-room_bubble_left {
    padding: 5px;
    width: auto;
    font-size: 10px;
    color: #4c4c4c;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    white-space: pre-line;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-top-left-radius: 0px;
}

.chat-room_bubble_right {
    padding: 5px;
    width: auto;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    white-space: pre-line;
    background: #ffde3f;
    border: 1px solid #ffde3f;
    border-bottom-right-radius: 0px;
}

.chat-room_emoji_left, .chat-room_emoji_right {
    width: auto;
}

.chat-room_emoji_left > img, .chat-room_emoji_right > img {
    width: 100px;
}

.chat-room_bubble_name_left {
    padding: 2px;
    font-size: 9px;
}

.chat-room_bubble_time_left {
    font-size: 9px;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 5px;
}

.chat-room_bubble_time_right {
    font-size: 9px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 5px;
}

.other-avatar {
    float: left;
    padding: 15px;
    min-width: 75px;
}

.other-avatar > div {
    width: 75px;
    height: 75px;
}

.other-name {
    font-size: 20px;
    padding-top: 15px;
}

.other-name > p {
    white-space: nowrap;
}

.other-profile {
    font-size: 12px;
    padding-top: 10px;
}

.other-profile_list > div:first-child {
    min-width: 60px;
    max-width: 60px;
}

.other-progress > div {
    color: #2196F3;
}

.other-progress > div, .other-progress > button {
    margin-top: 12px;
}

.other-upload_success {
    font-weight: bold;
    color: #8BC34A !important;
}

.other-upload_error {
    margin-top: 12px;
    font-size: 12px !important;
    margin: 10px !important;
    color: #ffffff !important;
}